
<div id="mapViewContainer">
    <aol-map [renderer]="'canvas'" (onMoveEnd)="onMoveEnd($event)">
        <aol-interaction-default></aol-interaction-default>
        <aol-view [zoom]="zoom">
            <aol-coordinate [x]="lat" [y]="lng"></aol-coordinate>
        </aol-view>
        <aol-layer-tile [opacity]="opacity">
            <aol-source-osm></aol-source-osm>
        </aol-layer-tile>
        <aol-layer-vector [opacity]="opacity">
            <aol-source-vector>
                <aol-feature>
                    <aol-control-attribution></aol-control-attribution>
                </aol-feature>
                <aol-feature *ngFor="let venue of venues; let i=index" [id]="'venue-' + venue.id">
                    <aol-geometry-point>
                        <aol-coordinate [x]="venue.longitude" [y]="venue.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
                    </aol-geometry-point>
                    <aol-style>
                        <aol-style-circle [radius]="10">
                            <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                            <aol-style-fill [color]="venue == venueService.getSelectedVenue() ? 'green' : venue.isHovered() ? 'yellow' : 'red'"></aol-style-fill>
                        </aol-style-circle>
                    </aol-style>
                </aol-feature>
            </aol-source-vector>
        </aol-layer-vector>

        <aol-overlay>
            <aol-coordinate
                [x]="longitude"
                [y]="latitude"
                [srid]="'EPSG:4326'"
                >
            </aol-coordinate>
            <aol-content id="infoBox" class="d-none">
                <app-info-box></app-info-box>
            </aol-content>
        </aol-overlay>
    </aol-map>
</div>