.activitybox {
    background-color: #F0F0F0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.titlebox {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: white;
}

#header {
    background-color: #3a90e0;
}

#front-page-header-container {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.mapButtonContent {
    padding-bottom: 2em;
}

button {
    width:100%;
}

@media (max-width: 991.98px) { 

    #front-page-header-container {
        padding-top: 64px;
    }

}