<div id="frontPageContainer">
    <div id="frontPageContent">
        <div id="mapButtonContainer">
            <div id="mapButtonContent">
                <button type="button" class="btn btn-primary btn-lg" routerLink="/map" routerLinkActive="active">Go to the map</button>
            </div>
        </div>
        <h1 id="title">City Trip planner</h1>

        <p>This is the description of our project</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque volutpat ultricies. Sed sed ligula a urna viverra efficitur eu non urna. Integer nec ante elementum nisl laoreet faucibus nec non lacus. Duis rhoncus arcu non leo feugiat, at suscipit diam molestie. Ut ultricies tincidunt maximus. Mauris porta faucibus turpis, ac dapibus nisi interdum eu. Duis faucibus efficitur dui, facilisis ultrices arcu pharetra quis. Aenean posuere, lacus et venenatis euismod, nulla nibh elementum orci, rhoncus dapibus lorem nibh et diam.
        </p>
        <p>
            Donec sollicitudin elit id eros ornare, ut accumsan mauris convallis. Duis vel magna vitae quam ultricies vestibulum eget eu arcu. Nam eget eleifend libero. Suspendisse id rutrum turpis. Aliquam lectus risus, efficitur quis orci a, efficitur commodo velit. Curabitur sed urna ac turpis tempus porttitor. Proin in nulla lacus. Integer euismod risus a tellus posuere, ut bibendum elit hendrerit. Maecenas quis massa porttitor, venenatis dui ut, congue dui. Nulla non ante ultricies, tempor libero eget, ultricies libero.
        </p>
        <p>
            Mauris maximus sit amet nulla quis ullamcorper. Cras quis libero leo. Curabitur tincidunt ultrices diam consequat lacinia. Aliquam pellentesque interdum nisl, quis vulputate ex pretium et. Ut eleifend lobortis velit, eget scelerisque neque vehicula vel. Nullam posuere non orci et posuere. Nulla cursus leo eu blandit dictum. Nunc vel erat dui. Quisque et fringilla arcu, in laoreet magna. Ut vitae tellus id mi venenatis imperdiet. In vitae arcu quis nisl aliquet mattis nec sed quam. Praesent vel tellus sollicitudin, consequat sapien quis, aliquet nisl. Aenean sed ex commodo lacus vulputate aliquet volutpat et augue.
        </p>
        <p>
            Etiam lobortis ligula sed ligula consectetur, ut aliquam ex rutrum. Nunc condimentum, nisl a imperdiet volutpat, ex odio sodales lorem, nec semper lacus diam id elit. Mauris non elit scelerisque, bibendum mauris nec, facilisis est. Aliquam quis vestibulum risus, nec imperdiet metus. Proin auctor vitae dui luctus tincidunt. Aliquam ultrices leo sed mauris cursus, a fringilla orci iaculis. Praesent placerat interdum lectus, ut blandit nisl convallis ac. Vestibulum sed enim eu mauris tincidunt ultricies. Sed in luctus metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ut leo at mauris viverra auctor. Nulla nec metus vel nisi laoreet dapibus. Suspendisse potenti. Praesent porta, arcu ac aliquet imperdiet, felis nulla feugiat nunc, sed pharetra tellus nulla eget ante. Proin eu sapien tristique dolor egestas pharetra eget at nulla.
        </p>
        <p>
            Vivamus a libero et felis pharetra egestas. Sed iaculis, arcu quis lobortis fermentum, nulla nisi ultricies enim, id lobortis lorem augue sit amet turpis. Vestibulum scelerisque pharetra tristique. Nunc ut urna efficitur, lacinia nunc sed, tincidunt est. Nam tempor faucibus pharetra. Quisque vitae rhoncus risus. Praesent vehicula libero a mauris mattis rutrum. Fusce aliquet a ipsum eget sodales. Integer vel convallis risus. Nulla tellus enim, ultricies vitae efficitur non, placerat at erat.
        </p>
    </div>
</div>