.activitybox {
  background-color: #F0F0F0;
  margin: 20px;
  padding: 20px;
}

.titlebox {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
}

.bootstrap-grid {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}