<app-nav-bar></app-nav-bar>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Select your activities</h1>
        <p class="lead">Now that you've selected to go to
            <mark>New York City</mark> for
            <mark>3</mark> days. Take a look at the recommended activities below!</p>
        <hr class="my-4">
        <p>You can select everything that you would like to do. Our algorithm will try to fit as much activities as possible in your schedule.</p>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container activitybox rounded">
    <div class="row">
        <div class="col-sm-7">
            <figure class="figure">
                <img src="https://igx.4sqi.net/img/general/700x300/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Central Park" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Picture taken by
                    <mark>Benjamin Bannister</mark>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-5">
            <div class="titlebox bg-primary">
                <h2>Central Park</h2>
            </div>
            <p>Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can
                be added here. Some text can be added here.</p>
            <a class="btn btn-primary" href="#">Add Activity</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Central Park</h5>
                    <p class="card-text">Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. Some text can be added here. </p>
                    <a href="#" class="btn btn-primary">Add Activity</a>
                </div>
            </div>
        </div>
    </div>
</div>