<div id="body">
    <app-nav-bar></app-nav-bar>
    <div class="main">
        <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Featured Trips</h1>
                    <p class="lead">Take a look at City Trip Plans that other people created before you!</p>
                    <hr class="my-4">
                    <p>Click on one of the trips to view the more detailed schedule.</p>
                </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">New York</h5>
                            <a href="#" class="btn btn-primary card-button">Look at Trip</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Amsterdam</h5>
                            <a href="#" class="btn btn-primary card-button">Look at Trip</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://igx.4sqi.net/img/general/350x220/655018_Zp3vA90Sy4IIDApvfAo5KnDItoV0uEDZeST7bWT-qzk.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">San Francisco</h5>
                            <a href="#" class="btn btn-primary card-button">Look at Trip</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <app-footer></app-footer>
  </div>
  