<div id="body">
    <app-nav-bar></app-nav-bar>
    <div class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Featured Trips</h1>
                <p class="lead">Take a look at City Trip Plans that other people created before you!</p>
                <hr class="my-4">
                <p>Click on one of the trips to view the more detailed schedule.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" *ngFor="let rowIndex of getRows()">
            <div class="col-sm-4" *ngFor="let trip of getRow(rowIndex)">
                <div class="card">
                    <img class="card-img-top" [src]="trip.image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{trip.location}}</h5>
                        <a class="btn btn-primary card-button" [routerLink]="'/trip/' + trip.uuid" routerLinkActive="true">Look at Trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
