<div *ngIf="venues">
    <div class="container rounded">
        <h1>{{title}}</h1>
    </div>
    <div class="container activitybox rounded" *ngFor="let venue of venues">
         <div class="row">
            <div class="col-sm-7">
                <figure class="figure" *ngIf="venue.images && venue.images.length != 0">
                    <img [src]="venue.images[0].horizontalRectangleURL" alt="Central Park" class="figure-img img-fluid rounded" />
                    <figcaption class="figure-caption">Picture taken by <mark>{{venue.images[0].photographer}}</mark>.</figcaption>
                </figure>
            </div>
            <div class="col-sm-5 activity-description-container">
                <div class="titlebox bg-primary">
                    <h2>{{venue.name}}</h2>
                </div>
                <div *ngIf="venue.description">{{venue.description}}</div>
                <div *ngIf="!venue.description && venue.address" class="venue-address">
                    <p *ngFor="let addressLine of venue.address">{{addressLine}}</p>
                </div>
                <div class="activity-button-container">
                    <app-button text="Add Activity" buttonClass="btn-primary" *ngIf="addButton" (buttonClick)="buttonClicked(venue)"></app-button>
                    <app-button text="Remove Activity" buttonClass="btn-danger" *ngIf="!addButton" (buttonClick)="buttonClicked(venue)"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="schedule" dnd-sortable-container [dragEnabled]="trip.secret" [sortableData]="schedule.items" class="sortable-container">
    <div class="container rounded">
        <h1>
            {{title}}
            <small class="show-map"><a *ngIf="schedule.items.length != 0" [routerLink]="'/map/' + trip.uuid + '/' + (schedule.day == 'unsorted' ? 'unsorted' : schedule.day.toString()) " routerLinkActive="true">Show on map</a></small>
        </h1>
        
    </div>
    <div class="container activitybox rounded" 
        *ngFor="let venue of schedule.items; let i = index"
        >
         <div class="row">
            <div class="col-sm-7">
                <figure class="figure" *ngIf="venue.images && venue.images.length != 0">
                    <img [src]="venue.images[0].horizontalRectangleURL" alt="Central Park" class="figure-img img-fluid rounded" />
                    <figcaption class="figure-caption">Picture taken by <mark>{{venue.images[0].photographer}}</mark>.</figcaption>
                </figure>
            </div>
            <div class="col-sm-5 activity-description-container">
                <div class="titlebox bg-primary" dnd-sortable 
                    [sortableIndex]="i" 
                    [dragEnabled]="trip.secret" 
                    (onDropSuccess)="trip.itemsReordered(venue)" 
                    >
                    <h2 >{{venue.name}}</h2>
                </div>
                <div *ngIf="venue.description">{{venue.description}}</div>
                <div *ngIf="!venue.description && venue.address" class="venue-address">
                    <p *ngFor="let addressLine of venue.address">{{addressLine}}</p>
                </div>
                <div class="activity-button-container">
                    <app-button text="Add Activity" buttonClass="btn-primary" *ngIf="addButton && trip.secret" (buttonClick)="buttonClicked(venue)"></app-button>
                    <app-button text="Remove Activity" buttonClass="btn-danger" *ngIf="!addButton && trip.secret" (buttonClick)="buttonClicked(venue)"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>