.activitybox {
    background-color: #F0F0F0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.titlebox {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: white;
}

.sortable-container {
    min-height: 20px;
}

.activity-description-container {
    position: relative;
    padding-bottom: 86px;
}

.activity-button-container {
    position: absolute;
    bottom: 30px;
}

.show-map {
    float: right;
}

@media (min-width: 576px) {
    .figure {
        margin: 0;
    }
}
@media (max-width: 991.98px) { 
    .show-map {
        float: none;
        display: block;
    }
}