
#infoBoxContainer {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 600px;
}

.addressLine {
    margin: 0;
}

@media (max-width: 575.98px) { 

    #infoBoxContainer {
        max-width: 250px;
    }
    
}